<div class="container text-center mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <img src="assets/logo.png" alt="Restaurant Rating App Logo" class="mb-4" style="max-width: 300px;">
        <h1>Welcome to CuisineCheck</h1>
        <p class="lead">Your Top 1 eating advisor</p>
        <div class="mt-4">
          <button class="btn btn-primary btn-lg mx-2" routerLink="/login">Login</button>
          <button class="btn btn-secondary btn-lg mx-2" routerLink="/register">Register</button>
        </div>
      </div>
    </div>
  </div>
