<app-top-navbar [title]="restaurant.name"></app-top-navbar>
<div class="container mt-5">
  <div class="text-center mb-3">
    <img ngSrc="{{ restaurant.logo }}" alt="Logo" class="pe-2 logo">
  </div>
  <p class="text-center">{{ restaurant.description }}</p>
  <div class="btn-group d-flex" role="group" aria-label="View Selector">
    <button type="button" class="btn btn-secondary w-100" (click)="setActiveView('photos')">Photos</button>
    <button type="button" class="btn btn-secondary w-100" (click)="setActiveView('location')">Location</button>
    <button type="button" class="btn btn-secondary w-100" (click)="setActiveView('menu')">Menu</button>
    <button type="button" class="btn btn-secondary w-100" (click)="setActiveView('reviews')">Reviews</button>
  </div>

  <div class="mt-4">
    <ng-container [ngSwitch]="activeView">
      <div *ngSwitchCase="'photos'" class="carousel-container">
        <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let picture of restaurant.pictures; let isFirst = first" [class.active]="isFirst">
              <img src="{{picture}}" class="d-block w-100 img-responsive" alt="Restaurant Photo">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

      </div>
      <div *ngSwitchCase="'location'">
        <app-map [restaurant]="restaurant"></app-map>
      </div>
      <div *ngSwitchCase="'menu'">
        <img ngSrc="{{ restaurant.menuPicture }}" class="img-fluid d-block mx-auto" alt="Menu Photo" width="600" height="300">
      </div>
      <div *ngSwitchCase="'reviews'">
        <button type="button" class="btn btn-primary w-100" (click)="goToAddReview()">Add Review</button>
        <div class="pt-4">
          <ng-container *ngIf="restaurantReviews; else noReviews">
            <app-review-cell *ngFor="let review of restaurantReviews" [review]="review" [cellType]="'restaurantView'"></app-review-cell>
          </ng-container>
          <ng-template #noReviews>
            <h3 class="text-center">No reviews added yet!</h3>
          </ng-template>

        </div>
      </div>
    </ng-container>
  </div>
</div>
