.logo {
  max-width: 100%;
  max-height: 200px;
}

@media (max-width: 768px) {
  .btn-group .btn {
    font-size: 14px;
  }
}

.carousel-container {
  max-width: 500px;
  margin: auto;
  display: block;
}
